<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div class="container-fluied" id="main">
  <div>Date <br /><input type="month" /></div>
  <div id="amount"><br /><br />Amount <br /><input type="text" /></div>
  <div>
    <br /><br />
    Category<br />
    <select>
      <option disabled selected value> -- select an option -- </option>
      <option value="Housing">Housing</option>
      <option value="Taxee">Taxee</option>
      <option value="Repair">Repair</option>
      <option value="Transportation">Transportation</option>
      <option value="Entreatment">Entreatment</option>
    </select>
  </div>
</div>
<br />
<br />
<div id="main1">
  <h4>Total: {{ total[0]["sum(amount)"] }}</h4>
  <button
    (click)="ngOnInit()"
    routerLink="/track"
    class="btn btn-light btn-sm"
    role="button"
    routerLinkActive="active"
  >
    get track
  </button>
  <br />
  <br />
</div>
<!--
  <div *ngFor="let expense of expenses">
    <span>{{ expense.online }}</span> {{ expense.name }}
  </div>
-->
